@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.about-container {
  display: none;
  width: 50vw;
  margin-left: 8em;
}

.para h3 {
  margin: 1em 0;
  font-family: "San Francisco";
  color: grey;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.02em;
}
