@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 600px;
  font-family: "San Francisco";
  font-size: 0.8em;
  color: rgb(116, 116, 116);
  margin-bottom: 10em;
}

.about-text {
  width: 38vw;
}

.about-subtitle-one {
  margin: 1em 0;
}

.about-subtitle-two ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-photo {
  width: 160px;
  height: 195px;
}
