#about {
  margin-left: 0em;
}

#about-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-left: 8em;
  width: 50vw;
}

.about-text h3 {
  font-weight: 300;
  margin-bottom: 2em;
}

.about-text a {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

.about-text a:hover {
  text-decoration: underline solid Currentcolor;
}

@media only screen and (max-width: 800px) {
  #about-container {
    margin-left: 2em;
    width: 80vw;
  }
}
