.button-container button {
  background-color: rgb(236, 255, 238);
  border: 1px solid rgb(16, 185, 92);
  border-radius: 2px;
  color: green;
  font-family: "Roboto Mono", monospace;
  margin: 8vh 0;
  height: 45px;
  width: 105px;
}

.button-container button:hover {
  background-color: rgb(216, 233, 217);
}

@media only screen and (max-width: 800px) {
  .button-container button {
    margin: 1.2rem 0 0 1rem;
  }
}
