.container {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 7em;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  width: 30vw;
}

.container a:hover {
  color: rgb(105, 105, 105);
}
