.header-container {
  margin: 12em 0 3em 8em;
  width: 70vw;
}

.header-top {
  color: rgb(83, 83, 83);
  font-family: "Playfair Display", serif;
}

.header-middle {
  font-size: 2.6em;
}

.header-text-link {
  color: black;
  text-decoration: underline;
}

.header-bottom {
  color: rgb(102, 102, 102);
  font-size: 1.6em;
  font-family: "Playfair Display", serif;
  margin-top: -0.2em;
}

.header-text {
  font-family: "Playfair Display", serif;
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .header-container {
    margin: 0;
    padding: 1em;
    width: 100%;
    border: 1px solid red;
  }

  .header-top {
    font-size: 1em;
  }

  .header-middle {
    font-size: 1.8em;
  }

  .header-bottom {
    font-size: 1.2em;
  }

  .header-text-link {
    color: black;
    text-decoration: underline;
  }
}
