.line {
  background-color: rgb(129, 129, 129);
  bottom: 0;
  height: 100px;
  margin-left: 0.63em;
  position: fixed;
  width: 1px;
}

.icon {
  bottom: 7em;
  height: 20px;
  position: fixed;
  width: 20px;
}

.github:hover {
  height: 23px;
  width: 23px;
}

@media only screen and (max-width: 800px) {
  .icon {
    bottom: 2em;
    height: 20px;
    position: fixed;
    width: 20px;
  }
  .line {
    bottom: 0;
    height: 26px;
    background-color: rgb(129, 129, 129);
    margin-left: 0.63em;
    position: fixed;
    width: 1px;
  }
}
