.line {
  width: 1px;
  background-color: rgb(129, 129, 129);
  margin-left: 0.63em;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.icon {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 7em;
}

.github:hover {
  width: 23px;
  height: 23px;
}
