.line {
  border: 0.7px solid rgb(129, 129, 129);
  background-color: rgb(129, 129, 129);

  margin-left: 0.55em;
  height: 100px;
  position: fixed;
  bottom: 0;
}
.github {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 7em;
}
