.repo-container {
  margin: auto;
  margin-bottom: 3em;
  width: 80vw;
}
.repo {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 1em;
  margin-bottom: 2em;
  width: 60vw;
}

/* --------------------------- TEXT ---------------------------*/

.more-title {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-top: 10vh;
  margin-bottom: 1em;
  width: 30vw;
  color: #116149;
  text-transform: uppercase;
  font-family: "Inter";
  letter-spacing: 0.1em;
}

.more-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  width: 60vw;
  font-weight: 200;
}

.repo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.repo-description {
  margin-bottom: 0.3em;
}

.updated-link {
  margin: 0.4em 0;
  font-size: 0.7em;
  color: grey;
}

.expand-button {
  background-color: white;
  border: none;
  color: rgb(11, 168, 11);
  font-size: 1.5em;
}
.repo-external-link {
  height: 15px;
}

.external-link {
  height: 18px;
}

@media only screen and (max-width: 800px) {
  .repo {
    width: 80vw;
  }

  .expand-button {
    font-size: 2em;
    margin: 1em 0;
  }
}

.repo-flex {
  display: flex;
  justify-content: space-between;
}
