.container {
  display: flex;
  justify-content: center;
  font-family: "San Francisco";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em;
}

.container a:hover {
  color: rgb(105, 105, 105);
}
