body {
  margin: 0.5em;
}

.nav-container ul {
  display: flex;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  justify-content: space-evenly;
  margin-left: auto;
  padding: 1em 0;
  width: 300px;
}
