.project-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 8em;
  width: 80vw;
}

.project-subcontainer {
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
  height: 100%;
  margin: -1em;
  padding: 0.6em 1em 0 1em;
  z-index: 2;
}
.project-title {
  color: rgb(5, 75, 5);
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.2em;
  font-size: 1.4em;
}
.project-subtitle {
  color: rgb(83, 83, 83);
  font-size: 0.9em;
}
.project-text {
  border-radius: 2px;
  font-size: 0.9em;
  padding: 1em 0;
  width: 35vw;
}

/*--------------------------------- Project Links ---------------------------------*/

.project-links-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.6em 0;
}

.project-links {
  padding-left: 1em;
  font-size: 0.75em;
}

.project-icons {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.project-github-link {
  width: 18px;
}
.project-image {
  width: 45vw;
  height: 25vw;
  -webkit-box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  -moz-box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .project-container {
    display: block;
    margin-top: 0;
    margin-bottom: 4em;
    width: 80vw;
  }
  .project-image {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .project-text {
    width: 100%;
    z-index: 3;
  }
  .p-container-subcontainer {
    margin: -1em;
    padding: 2em 1em 0 1em;
  }
}
