.about-container {
  border: 1px solid red;
  display: flex;
  width: 70vw;
  margin: auto;
}

.about-text {
}

.about-title {
  width: 70vw;
  margin: auto;
  margin-top: 50vh;
  border: 1px solid red;
}

.project-container {
  width: 70vw;
  margin: auto;
  margin-top: 5em;
}

.button-container button {
  border: 1px solid rgb(16, 185, 92);
  border-radius: 2px;
  margin-left: 8rem;
  width: 105px;
  height: 45px;
  background-color: rgb(236, 255, 238);
  color: green;
  font-family: "Roboto Mono", monospace;
}

.header-container {
  margin: 5em 0 3em 8em;
  width: 70vw;
}
.header-top {
  color: rgb(83, 83, 83);
}
.header-middle {
  font-size: 2.5em;
}
.header-bottom {
  font-size: 1.4em;
  color: rgb(102, 102, 102);
  margin-top: -0.2em;
}
.header-text {
  margin-top: 1em;
}
