html {
  scroll-behavior: smooth;
}

* {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
}

h3,
h2 {
  font-size: 1em;
}

a {
  color: rgb(3, 109, 3);
  font-weight: bold;
}
