@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html {
  scroll-behavior: smooth;
}

#proj {
  height: 25vh;
}

.project-section-header {
  color: black;
  margin-left: 1em;
}

.project-section-header {
  color: rgb(51, 51, 51);
}

.project-container {
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 10em;
}

.project-header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "San Francisco";
  font-weight: 900;
  margin-bottom: 3em;
  margin-right: 1.7em;
}

.project-text {
  font-family: "San Francisco";
  font-size: 0.8em;
  width: 35vw;
  padding: 1em 0;
  border-radius: 2px;
  color: rgb(116, 116, 116);
}

.project-title-one {
  font-family: "San Francisco";
  font-size: 0.6em;
  color: grey;
}

.project-title-two {
  font-family: "Heebo", sans-serif;
  font-size: 1.4em;
  font-weight: 900;
}

.project-container-main {
  border: 1px solid rgb(233, 233, 233);
  padding: 0 1em;
  margin: -1em;
  z-index: 2;
  background-color: white;
  height: 225px;
}

.project-links {
  display: flex;
  width: 20vw;
  font-family: "San Francisco";
  font-size: 0.7em;
  margin: 1em 0;
  color: rgb(59, 59, 59);
  justify-content: space-between;
  margin-left: auto;
}

.project-links ul {
  list-style-type: none;
}

.project-covid-image {
  width: 45vw;
  height: 25vw;
  -webkit-box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  -moz-box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  box-shadow: -9px 10px 11px -9px rgba(219, 219, 219, 1);
  z-index: 0;
}

.project-github-link {
  width: 16px;
}

.project-links-icons {
  display: flex;
  justify-content: space-between;
}

.project-view-link {
  font-size: 0.7em;
  font-family: "Heebo", sans-serif;
  border-bottom: 2px solid orange;
}